<script lang="ts">
	import { Application } from 'pixi.js';
	import { onMount } from 'svelte';
	import { applyToGame } from './Game';
	import Options from './Options.svelte';

	let game: HTMLDivElement;
	onMount(() => {
		const app = new Application({ background: '#252525', resizeTo: game });
		game.appendChild(app.view as HTMLCanvasElement);
		applyToGame(app);
	});
</script>

<div class="container">
	<p>Que molleja, Hermenegildo</p>
	<div class="game" bind:this={game} />
	<p class="text1">Un sabio siempre sabe que hacer</p>
	<p class="text2">
		Hola soy Kevin, un mago con poderes mágicos y habilidades increíbles. Estoy dispuesto a prestar
		mi ayuda a aquellos que más lo necesiten. Siempre me siento feliz de poder compartir y servir a
		los demás a través de mis habilidades mágicas. Estoy emocionado de poder ayudar a quienes
		necesitan mi ayuda y estoy listo para hacer todo lo posible para satisfacer sus necesidades.
	</p>
	<Options option1="Comida" option2="Bebida" option3="Adular" />
</div>

<style>
	.container {
		width: calc(800px * var(--resolutionMultipliers));
		height: calc(600px * var(--resolutionMultipliers));
		justify-content: center;
		background-color: #252525;
	}
	.game {
		width: 50%;
		height: 50%;
		background-color: inherit;
	}
	.text1 {
		position: relative;
		left: 50px;
		text-align: left;
	}
	.text2 {
		position: relative;
		top: -40%;
		left: 50%;
		width: 50%;
		text-align: center;
	}
	p {
		margin: 0;
		text-align: center;
	}
</style>
