<script lang="ts">
	export let option1: string;
	export let option2: string;
	export let option3: string;
</script>

<div class="container">
	<button class="button">{option1}</button>
	<button class="button">{option2}</button>
	<button class="button">{option3}</button>
</div>

<style>
	.container {
		position: relative;
		left: 29%;
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	button {
		border: white dashed 3px;
		border-radius: 3px;
		background-color: black;
		cursor: pointer;
		height: 50px;
		width: 100px;
	}
</style>
