:root {
	--resolutionMultipliers: 1;
	color: white;
	font-family: 'Lobster', cursive;
}
button {
	color: white;
	font-family: 'Lobster', cursive;
}

body, #app {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(63, 63, 63);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

@media (min-width: 1200px) {
	:root {
		--resolutionMultipliers: 1.5;
	}
}
